<!DOCTYPE html>
<html dir="rtl" ng-app='Urdown'>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Online Urdu markdown editor.">
    <meta name="keywords" content="اردو آنلایٰنeditor markdown urdu">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>اردو متن کی تصیح</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-showdown/1.1.0/ng-showdown.min.js"></script>
    <script src="./static/js/urdown.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css">
</head>

<body ng-controller="urdownConverter" ng-class="{day: !nightMode, night: nightMode}">
<div id="container" ng-class="{read:!editMode}">

<div id="top">
        <div id="menu">
            <label>انداز رات<input type="checkbox" ng-model=nightMode></input></label>
            <label>انداز تصیح<input type="checkbox" ng-model=editMode ng-change="restoreContainer()"></input></label>
        </div>
</div>

<div id="data_container">

    <textarea id="raw_text" placeholder="{{placeholder}}" ng-model="rawText" ng-show="editMode" ng-init="loadMarkdown()"></textarea>
    <div id="output_outer">
        <div id="output_inner" dir="rtl" markdown-to-html="rawText.length === 0 ? placeholder : rawText"></div>
    </div>

</div>

</div>
</body>

</html>
