<!DOCTYPE html>
<html dir="rtl" ng-app='Urdown'>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Online Urdu markdown editor.">
    <meta name="keywords" content="اردو آنلایٰنeditor markdown urdu">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel='shortcut icon' href='./static/img/markdown.ico' type='image/x-icon'/>
    <title>اردو متن کی تصیح</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-showdown/1.1.0/ng-showdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script src="./static/js/urdown.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./static/css/output.css">

    <!-- Github Star button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body ng-controller="urdownConverter" ng-class="{day: !nightMode, night: nightMode}" ng-keyDown="shortcutHandler($event)" ng-init="loadUI()">
<div id="container" ng-class="{read:!editMode}">

<div id="top">
        <div id="options">
            <div><label>{{ui.option.nightMode}}<input type="checkbox" ng-model=nightMode></input></label></div>
            <div><label>{{ui.option.editMode}}<input type="checkbox" ng-model=editMode ng-change="restoreContainer()"></input></label></div>
            <img src="./static/img/language.png" width="20px"/>
            <select ng-options="option.label for option in uiLangs track by option.value"
                    ng-model="uiLang" ng-change="loadUI()">
            </select>
            <div class="hvr-border-fade" ng-click="reverseDir()"><img src="./static/img/switch.png" width="16px"/></div>
        </div>
        <div id="menu">
            <a class="github-button" href="https://github.com/hazrmard/Urdown" data-count-href="/hazrmard/Urdown/stargazers" data-count-api="/repos/hazrmard/Urdown#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star hazrmard/Urdown on GitHub">Star</a>
            <a href="{{ui.helpLink}}" target="_blank"><div class="hvr-border-fade">{{ui.button.help}}</div></a>
            <div class="hvr-border-fade" ng-click="saveMarkdown()">{{ui.button.save}}</div>
            <div class="hvr-border-fade" ng-click="printOutput()">{{ui.button.export}}</div>
            <div class="hvr-border-fade" ng-click="showHTMLPrompt=!showHTMLPrompt; showOpenPrompt=false; showOppDirPrompt=false; showHTMLPrompt?showHTML():null">{{ui.button.html}}</div>
            <div class="hvr-border-fade" ng-click="newMarkdown()">{{ui.button.new}}</div>
            <div class="hvr-border-fade" ng-click="openHandler()">{{ui.button.open}}</div>
        </div>
</div>

<div id="data_container" dir="{{defaultDir}}">
    <textarea autofocus id="raw_text" ng-class="defaultDir" placeholder="{{placeholder}}" ng-model="rawText" ng-show="editMode" ng-init="loadMarkdown()"></textarea>
    <div id="output_outer" ng-class="defaultDir">
        <div id="output_inner" markdown-to-html="rawText.length === 0 ? placeholder : rawText"></div>
    </div>
</div>

<div id="prompt" dir="{{defaultDir}}" ng-show="showOpenPrompt || showHTMLPrompt || showOppDirPrompt">
    <div ng-show="showOpenPrompt">{{ui.prompt.openLink}}</div>
    <input ng-show="showOpenPrompt" id="open_link_text" type="text" ng-model="promptInput" ng-enter="showOpenPrompt=false; getMarkdown(promptInput)"></input>
    <div ng-show="showOpenPrompt">{{ui.prompt.openFile}}</div>
    <input ng-show="showOpenPrompt" id="fileinput" type="file" accept="text/*, *.md" onchange="angular.element(this).scope().readMarkdown()"></input>
    <label ng-show="showOpenPrompt" for="fileinput" id="fileinput_label" class="hvr-border-fade">{{ui.prompt.selectFile}}</label>
    <div dir="ltr" id="html_output" ng-show="showHTMLPrompt" contenteditable>{{outHTML}}</div>
    <textarea autofocus dir={{oppDir}} id="opp_input" ng-model="oppDirText" ng-show="showOppDirPrompt"></textarea>
    <div id="prompt_commands">
        <div ng-show="showOpenPrompt || showOppDirPrompt" class="hvr-border-fade" ng-click="okHandler()">{{ui.button.ok}}</div>
        <div class="hvr-border-fade" ng-click="escHandler()">{{ui.button.cancel}}</div>
    </div>
</div>

</div>
</body>

</html>
