@import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);

/*Styles for non-code/pre elements*/
.rtl #output_inner:not(code):not(pre), .ltr .opp_dir_div :not(code):not(pre) {
    font-family: 'Noto Nastaliq Urdu Draft', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/*Styles for non-code/pre elements in opposite text direction*/
.ltr #output_inner:not(code):not(pre), .rtl .opp_dir_div :not(code):not(pre) {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, 'Noto Nastaliq Urdu Draft', serif;
}

/*Styles for code/pre elements (blocks and inline)*/
#output_inner code, #output_inner pre {
    background-color: #dbdde0;
}

/*Style for pre elements (only code blocks, not inline)*/
#output_inner pre {
    padding: 0.5em;
}
